<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110709093540-fan6ml4hb3n2r9v7a3rq58hbe910q36k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110709093540-fan6ml4hb3n2r9v7a3rq58hbe910q36k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>110709093540-c3i4nlo8lubr2680na56d3iirrtcvkab.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXTAH1lipyNTWyC8OgGWoYjqBNJbIVBf8</string>
	<key>GCM_SENDER_ID</key>
	<string>110709093540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.fairytrail.release</string>
	<key>PROJECT_ID</key>
	<string>fairytrail-spring-expo</string>
	<key>STORAGE_BUCKET</key>
	<string>fairytrail-spring-expo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110709093540:ios:a6477607e9613776df6231</string>
</dict>
</plist>
